table {
    
  width: 100%;
}

th{
  size: 20px;
}
td{
  padding: 30px; 
  font-size: 13px;
  width: 180px;
 
}
.accordion {
background-color: #eee;
color: #444;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 20px;
transition: 0.4s;
}

.active, .accordion:hover {
background-color: #ccc; 
}

.panel {
padding: 0 18px;
display: none;
background-color: white;
overflow: hidden;
}
/* page Vote etudiant*/
.titreEvenCour{
text-align: center;
font-size: 65px;
}
.bodyEtu{
margin: 44px;
padding: 5px;
background: rgb(0,194,255);
}
.vote{
margin-top: 128px;
}
.imgVoteE, .imgVoteP{
width: 3500px;
height: 350px;
margin: 10px;
}

